<div id="home-footer" class="fix-ie-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <h4 class="home-friend-links-head">友情链接</h4>
                <p class="home-friend-links"><!--a(target='_blank' href='url') name-->
                    <a target="_blank" href="http://www.apicloud.com">APICloud</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="row">
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <h4><a href="/products/" class="home-footer-list-head">产品</a></h4>
                        <ul class="list-unstyled pull-left home-footer-links">
                            <li><a href="/products/push/">消息推送</a></li>
                            <li><a href="/products/realtime/">实时消息</a></li>
                            <li><a href="/products/analytics/">实时统计</a></li>
                            <li><a href="/products/presence/">实时在线</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <h4><a href="/pricing/" class="home-footer-list-head">价格</a></h4>
                        <ul style="min-height: 94px"></ul>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <h4><a href="/developers/" class="home-footer-list-head">开发者</a></h4>
                        <ul style="min-height: 94px"></ul>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <h4><a href="/company/" class="home-footer-list-head">公司</a></h4>
                        <ul class="list-unstyled pull-left home-footer-links">
                            <li><a href="/company/">关于我们</a></li>
                            <li><a href="/contact/">联系我们</a></li>
                            <li><a href="/careers/">人才招聘</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <h4><a href="//blog.yunba.io/" target="_blank" class="home-footer-list-head">博客</a></h4>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="row">
                    <div class="pull-right">
                        <a href="http://weibo.com/yunbaio" target="_blank" class="home-footer-list-head">
                            <img src="/assets/img/sina_weibo.png" width="35px"></a>
                    </div>
                </div>
                <div class="row">
                    <ul class="text-right pull-right home-footer-links">
                        <li><div class="home-footer-text">© 2013-2015 深圳市微智云科技有限公司</div></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="http://www.miitbeian.gov.cn/">粤ICP备14035779号</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>