<% include header.html %>
<!--<h1>Welcome <%= user.username %>, 欢迎登录！！</h1>-->
<!--<a class="btn" href="/logout">退出</a>-->
<session class="section-integration">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info home-main">
                <h1>Hello , <%= user.name %>, this is home page</h1>
                <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                <p>To see the difference between static and fixed top navbars, just scroll.</p>
                <p>
                </p>
            </div>
        </div>


    </div>
</div>
</session>

<% include base-js.html %>

<% include footer-out.html %>


