<% include header-out.html %>
<!--<h1>Welcome <%= user.username %>, 欢迎登录！！</h1>-->
<!--<a class="btn" href="/logout">退出</a>-->

<div style="margin-top:-148px; margin-bottom: 100px;" class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="row">
                <div class="col-sm-4 text-center pricing-item">
                    <div class="pricing-header pricing-header-bg">
                        <div class="title">基本版</div>
                        <div class="subtitle">适合初创小型团队</div>
                    </div>
                    <div class="pricing-body pricing-body-bg-1">
                        <p>每月 100万次 免费 API 调用</p><p>每月 100万次 免费推送</p>
                        <p>速度限制 20次/秒</p><p>&nbsp;</p><p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                    <div class="pricing-footer pricing-footer-bg-1 visible-xs">
                        <a href="/contact/" class="btn btn-block pricing-btn-contact">免费</a>
                    </div>
                </div>
                <div class="col-sm-4 text-center pricing-item">
                    <div class="pricing-header pricing-header-bg">
                        <div class="title">专业版</div>
                        <div class="subtitle">已经有运营能力的产品</div>
                    </div>
                    <div class="pricing-body pricing-body-bg-2">
                        <p>更多的 API 调用次数</p>
                        <p>更多的推送消息数</p>
                        <p>速度达到 10000/秒 以上</p>
                        <p>&nbsp;</p><p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                    <div class="pricing-footer pricing-footer-bg-2 visible-xs">
                        <a href="/contact/" class="btn btn-block pricing-btn-contact">联系我们</a>
                    </div>
                </div>
                <div class="col-sm-4 text-center pricing-item pricing-blue-text">
                    <div class="pricing-header pricing-header-bg">
                        <div class="title">企业版</div>
                        <div class="subtitle">高级定制服务</div>
                    </div>
                    <div class="pricing-body pricing-body-bg-3">
                        <p>企业级 SLA</p><p>私有云部署</p>
                        <p>速度达到 100000/秒 以上</p>
                        <p>多机房数据同步备份</p><p>专业技术支持</p>
                        <p>高级特性</p>
                    </div>
                    <div class="pricing-footer pricing-footer-bg-2 visible-xs">
                        <a href="/contact/" class="btn btn-block pricing-btn-contact">联系我们</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-md-offset-1 col-md-10">
            <div class="row pricing-bottom-shadow">
                <div class="col-sm-4 text-center pricing-item">
                    <div class="pricing-footer pricing-footer-bg-1">
                        <span class="btn btn-block pricing-btn-free">免费</span>
                    </div>
                </div>
                <div class="col-sm-8 text-center pricing-item hidden-xs">
                    <div class="pricing-footer pricing-footer-bg-2">
                        <a href="/contact/" class="btn btn-block pricing-btn-contact">联系我们</a>
                    </div>
                </div>
                <div class="col-sm-4 text-center pricing-item visible-xs">
                    <div class="pricing-footer pricing-footer-bg-2">
                        <a href="/contact/" class="btn btn-block pricing-btn-contact visible-xs">联系我们</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include base-js.html %>

<% include footer-out.html %>


